.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  /*object-fit is usually good to use with images to make them appear better*/
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*after centering the card__content I needed to restrict the width to make the heart icon stay underneath the image and not go all the way to the right side of the page. To restrict it, I added the same width as the image to the main container which is the li for this card (it was added to the .card selector*/
  margin-top: 12px;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  padding-bottom: 4px;
  /*This padding was added so the bottom part of the letters (ex. g) won't get cut off. Based on Figma it was 4px of padding here*/
  margin-bottom: auto;
  /*I had to add margin-bottom: auto because the bottom padding I added misaligned the description and the icon, this fixed the issue. Since bottom padding was adde to the title, then bottom margins were set to auto to align the description and icon again*/
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  margin-left: auto;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity 0.2s;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__content {
    max-width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 264px;
  }
}
